icon {
  display: inline-block;
  size: 15dip;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  stroke: inherit;
  fill: inherit;
}


icon.play  { margin-right: 5dip;background-image: url(path:M838 1871 l-33 -29 -3 -635 -2 -635 25 -30 c30 -36 70 -47 111 -32 32 12 613 586 646 638 42 68 37 76 -285 401 -161 161 -310 306 -331 322 -50 37 -87 37 -128 0z m339 -848 l-177 -178 0 355 0 355 177 -178 178 -177 -178 -177z); }
icon.left  { background-image: url(path:M1434 1871 c-21 -16 -170 -161 -331 -322 -322 -325 -327 -332 -285 -401 12 -18 157 -169 324 -334 321 -320 336 -331 394 -302 46 22 68 60 59 105 -6 33 -42 74 -278 311 l-271 272 266 268 c146 147 271 278 278 291 18 35 4 86 -31 115 -40 34 -77 33 -125 -3z); }
icon.right { background-image: url(path:M841 1874 c-35 -29 -49 -80 -31 -115 7 -13 132 -144 278 -291 l266 -268 -271 -272 c-236 -237 -272 -278 -278 -311 -9 -45 13 -83 59 -105 58 -29 73 -18 394 302 167 165 312 316 324 334 42 69 37 76 -285 401 -161 161 -310 306 -331 322 -48 36 -85 37 -125 3z); }

[started] icon.play { stroke-width:1dip; transform: rotate(90deg); background-image: url(path:M340 1673 c-19 -18 -33 -41 -36 -64 -5 -31 -1 -42 24 -70 l30 -34 842 0 842 0 30 34 c25 28 29 39 24 70 -3 23 -17 46 -36 64 l-30 27 -830 0 -830 0 -30 -27z M340 873 c-19 -18 -33 -41 -36 -64 -5 -31 -1 -42 24 -70 l30 -34 842 0 842 0 30 34 c25 28 29 39 24 70 -3 23 -17 46 -36 64 l-30 27 -830 0 -830 0 -30 -27z); }
[started] span { content: 'STOP'; }


