html {
    font-family: Segoe UI;

    var(BG): #e6eef5;
    var(K) : #000;
    var(aK): #222;
    var(clearBG): #fff;
    var(border) : #eee;

    var(bodyBG): rgba(240, 250, 255, 0.60);
    var(headerButtonHBG): rgba(0,0,0, 0.1);
    var(headerStroke)  : #111;
    var(headerStrokeW) : 1dip;

    var(buttonK)  : #000;
    var(buttonHK) : #fff;
    var(buttonBG) : #fff;
    var(buttonHBG): #000;
    var(currentBG): rgb(246, 252, 255);

    var(itemBG): #e6eef5;

    /* var(playerBG): #1c70bf; */
    var(playerBG): #fff;
    var(playerHBG): #e6eef5;
    var(playerK) : #000;
    color: #fff;
    /* font-size: 9pt; */
}
html[window-state="maximized"] { padding: 0.5em; }
body {
    margin: 0;
    flow: horizontal;
    backdrop-filter: blur(50dip);
    background-color: color(bodyBG);
    transition: background-color linear 300ms;
    color: color(K);
}
/* body:hover {background-color: rgba(240, 250, 255, 0.65);} */
header {
    vertical-align: middle;
    /* height: 24dip; */
    flow:horizontal;
    color: color(K);
    /* background: linear-gradient(90deg, #FEE140 0%, #FA709A 100%); */
    background: color(BG);
}
header icon {
    display:block;
    visibility: hidden;
    /* size:5em; */
    size: 24dip;
    /* padding: 0.5em; */
    /* margin: 0.2em 0.3em; */
    /* position: absolute; */
    /* z-index: 1; */
    background-image: url("../Recast.svg");
    image-rendering:optimize-quality;
    /* transform: rotate(30deg); */
}
header caption { padding-left: 0.5em; width:*; }
header button[role] {
    /* size:24dip; */
    padding:0;
    margin: 0;
    border:none;
    border-radius: 0;
    /* background:50% 50% no-repeat; background-size:24dip; */
    background: none;

    behavior:clickable;
    display:block;
    height:*;
    width:window-button-width;
    foreground-size: 11dip;
    foreground-repeat: no-repeat;
    foreground-position:50% 50%;
    stroke: color(headerStroke);
    fill: none;
    stroke-width: var(headerStrokeW);
    transition: background-color linear 80ms;
    position: relative;
    z-index: 1;
}
header button[role]:hover { background-color: color(headerButtonHBG); }
button[role="window-minimize"] { foreground-image: url(path:M0 0 M0 5 H10 M10 10); }
button[role="window-maximize"] { foreground-image: url(path:M0 0 H10 V10 H0 Z); }
html[window-state="maximized"] header button[role="window-maximize"] { foreground-image: url(path:M0 2 h8 v8 h-8 Z M2 2 v-2 h8 v8 h-2); }
button[role="window-close"] { stroke-width:1.44dip; foreground-image: url(path:M0 0 L10 10 M10 0 L0 10); }
header button[role="window-close"]:hover { background:rgb(232,17,35); stroke:#fff; }

footer { margin-top: *; }
body img { width: 100%; image-rendering:optimize-quality; }
body button:not([type]):not([role]) {
    background: color(buttonBG);
    color: color(buttonK);
    cursor: pointer;
    vertical-align: middle;
    /* flow: horizontal; */
}
body button:not([type]):not([role]):hover, body button:current {
    background: color(buttonHBG);
    color: color(buttonHK);
    border-color: color(buttonHBG);
}
.bPlaylist { behavior: none; }
input[placeholder]:empty::after { content: attr(placeholder); color: #888; }
popup[role=overflow-tooltip] {
    background-color: #f8f8ff;
    padding: 0.4em;
}

menu, popup.menu {
    background: #fff;
    min-width: 8em;
    width: max-content;
    font-weight: 600;
    border-radius: 3dip;
    letter-spacing: 1dip;
    /* overflow: hidden; */
    box-shadow:rgba(50, 50, 93, 0.22) 0px 4px 6px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    border: 1dip solid #aaa;
    padding: 0.5em;
    flow: vertical;
}
popup.menu input {
    padding: 0.5em;
    border-radius: 0;
    margin-bottom: 0.5em;
    font-weight: 500;
}
popup.menu button {
    background: #fff;
    border-radius: 0;
    width: *;
}
popup.menu button:hover { background: #e6eef5; }
menu, #mPlaylists { padding: 0; }
menu li, #mPlaylists > li { padding: 0.5em; }
menu li:hover, #mPlaylists > li:hover {
    background-color: #000;
    color: #fff;
}

block {
    vertical-align: middle;
    display: block;
    flow: horizontal;
    border-spacing: *;
}
block button:not(:last-child) {
    margin-right: 5dip;
}

a, n { overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; }
n { color: color(K); }
a { color: color(aK); }
item  n {
    /* background: blue; */
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.2em;
    /* outline: 1px solid red; */
}
item  a {
    display: block;
    font-size: 0.9em;
}


/* Body */

navigator {
    display: block;
    /* padding-top: 3.3em; */
    size: 180dip *;
    background: color(BG);
    /* background: #fff; */
}
navigator li {
    /* position: relative; */
    padding: 1em;
}
navigator li:hover, navigator li:current {
    background: color(currentBG);
}
#iSearch {
    border-radius: 0;
    border-width: 1dip 0;
    width: *;
    padding: 1em;
    background: none;
    color: color(K);
}

browser {
    display: block;
    box-shadow: 0px 5px 51px -20px rgba(117,117,117,0.5);
    /* overflow: hidden; */
    position: relative;
    size: *;
}
browser>section { overflow-y: auto; padding: 1em; visibility: none; height: *;}
browser>section:expanded {visibility: visible;}
/* browser>section {display: none; height: *;} */
/* browser>section:expanded {display: block;} */
browser podcast {
    display: inline-block;
    height: 205dip;
    width: 160dip;
    /* background: red; */
    overflow: hidden;
    /* border-spacing: *; */
    margin-right: 1em;
    margin-bottom: 0.7em;
    flow:vertical;
    /* border-spacing: *; */
    cursor: pointer;
}
browser podcast > img {
    border-radius: 5dip;
}
podcast > n {
    display: block;
    font-weight: 600;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}
podcast > a {
    display: block;
    font-size: 0.9em;
}
#playlists, #downloads { background: color(clearBG); }
#playlists>block {
    vertical-align: middle;
    padding: 0 0.5em;
    background: color(playerHBG);
}
#lists {
    flow: horizontal;
}
#lists li {
    /* font-family: Arial; */
    padding: 1em;
    font-weight: 600;
    font-rendering-mode: enhanced;
    font-size: 10pt;
    context-menu: selector(#cPlaylist);
}
#lists li:hover, #lists li:current {
    background: color(clearBG);
    color: color(K);
}
list {
    display: block;
    flow: vertical;
    padding: 1em;
}
list item {
    background: color(itemBG);
    display: block;
    padding: 0.5em 1em;
    margin-top: 0.5em;
}

playlist {
    display: block;
    background: color(clearBG);
    position: absolute;
    overflow: hidden;
    top: 100%;
    size: *;
    /* overflow: scroll; */
    transition: top linear 155ms;
}
browser[show="playlist"] playlist { top: 0; }
playlist:busy::before {
    /* font-rendering-mode: snap-pixel; */
    font-rendering-mode: enhanced;
    content: 'LOADING';
    font-size: 2em;
    top: 1.15em;
    display:block;
    left: 0;
    size: *;
    position: absolute;
    background: color(clearBG);
    text-align: center;
    vertical-align: middle;
    flow: vertical;
}
playlist[failed]::before {
    content: 'FAILED TO LOAD CONTENT';
    background: #f54c5d;
    color: #fff;
}

playlist header {
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    flow: 0;
}
playlist content { 
    display: block;
    /* overflow-y: auto; */
    overflow: hidden;
    size: *;
    flow:horizontal;
}
author {
    flow: vertical;
    display: block;
    max-width: 30%;
    width: 4*;
    height: *;
    padding: 2em 0 0 2em;
    /* overflow: hidden; */
}
author name {
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: bold;
    display: block;
    /* font-family: Arial; */
}
author description {
    display: block;
}

episodes {
    display: block;
    flow: vertical;
    /* overflow: scroll-indicator; */
    padding: 2em 0;
    overflow-y: scroll;
    size:*;
    /* prototype: VList url(../library/vlist.tis); */
}
episode {
    display: block;
    border: 1dip solid color(border);
    padding: 1em;
    margin: 0 1em 1em 1em;
    behavior:form;
    font-rendering-mode: enhanced;
}
episode > block:first-child {
    font-size: 1.2em;
}
episode > block {
    margin-bottom: 1em;
    font-weight: 500;
}
episode description {
    overflow: hidden;
    display: block;
    font-size: 0.9em;
    color: color(aK);
    font-rendering-mode: classic;
    max-height: 8em;
}
episode description:expanded { max-height: unset; }
episode description img { display: none; visibility: none; }
episode description br  { display: none; }
episode description p   { margin: 5dip 0; }

/* #options { background: #fff; } */
form {
    margin-top: 4em;
    max-width: 30em;
    font-size: 1.2em;
    font-rendering-mode: enhanced;
    flow: row(label, input select, button br);
    border-spacing: 1em;

}
form button|checkbox { padding-left: 1.7em; }
form label { vertical-align: middle; height: *;}
form input:not([type="integer"]), form input caption {
    padding: 0.5em;
    border-radius: 0;
}
form input { width: *; }
form select {
    border-radius: 0;
    height: *;
    background: #fff;
}
form select button { padding-right: 0.5em; }
form select caption { vertical-align: middle; }

/* Player */

player {
    position: relative;
    display: block;
    height: 5em;
    background: color(playerBG);
    /* color: color(playerK); */
    /* fill: color(playerK); */
    color: color(playerK);
    fill : color(playerK);
    flow:horizontal;
    vertical-align: middle;
}
/* player icon { fill: #000 !important; } */
player btn {
    display: inline-block;
    font-weight: bolder;
    padding: 1em;
    /* background: red; */
    line-height: 1;
    cursor: pointer;
    border-radius: 1em;
    flow: horizontal;
}
player btn:hover {
    /* background-color: rgba(255,255,255, 0.5); */
    background-color: color(playerHBG);
}
#tapePlay {
    width: 4.25em;
}
#tapePlay span { height: 1dip; }
#tape {
    display: none;
}
#tracker {
    width: 20em;
    height: 0.3em;
    /* background: #f0f1fd; */
    background: color(playerHBG);
    /* aspect: MySlider; */
    /* background-color: rgba(255,255,255, 0.5); */
}
#tracker > .slider {
    background-color: color(playerK);
    border-radius: 2dip;
    height: 16dip;
    width: 10dip;
    border: 0;
    transition: width linear 50ms;
}
#tracker:hover > .slider {
    width: 5dip;
}
#tracker:hover > button::after {
    content: parent-attr(time);
    font-weight: bold;
    width: 4em;
    font-family: Consolas;
    display: block;
    background: #fff;
    box-shadow: 0px 1px 1px #d1e6f8;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: -3em;
    /* margin-left: -2.33em; */
    margin-left: -2.5em;
}
#tracker::before {
    /* content: ''; */
    /* background: #f0f1fd; */
    left: 0;
    width: 2em;
    height: 0.3em;
}
#time { width: 7em; }

queue {
    display: block;
    height: 4em;
    min-height: 4em;
    transition: height linear 100ms 0.3s;
    overflow: hidden;
    vertical-align: bottom;
    margin-bottom: 0.5em;
    width: *;
    /* size: *; */
    margin-right: 2.5em;
    background: color(playerHBG);
    border-radius: 4dip;
}
queue:hover {
    position: relative;
    height: min-content;
}
queue:hover item { display: block; }
queue item {
    /* overflow: hidden; */
    height: 3em;
    padding: 0.5em 1em;
    /* background: red;  */
    display: none;
}
queue item:hover {
    /* background-color: #f54c5d; */
    background-color: #000;
    color: #fff;
}
queue item:hover n { color: #fff; }
queue item:hover a { color: #eee; }
queue item:current { display: block; }
queue item:hover a { color: #ddd; font-rendering-mode: classic; }

#trayPopup {
    width: 150dip;
    border-radius: 4dip;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(50,50,93,0.7), 0 1px 3px rgba(0,0,0,0.4);
}
#trayPopup li {
    display: block;
    padding: 10dip;
    background: #fff;
    font-size: 15dip;
    font-weight: 500;
    color: #222;
}
#trayPopup li:hover {
    background: #ddd;
}
#trayPopup .header { font-weight: bold; font-size: 12dip; }
#trayPopup b {
    display: block;
    border-bottom: 1dip solid #aaa;
}
#trayPopup button {
    min-width: 4.5em;
}

