player {
    position: relative;
    display: block;
    height: 5em;
    background: color(playerBG);
    /* color: color(playerK); */
    /* fill: color(playerK); */
    color: color(playerK);
    fill : color(playerK);
    flow:horizontal;
    vertical-align: middle;
}
/* player icon { fill: #000 !important; } */
player btn {
    display: inline-block;
    font-weight: bolder;
    padding: 1em;
    /* background: red; */
    line-height: 1;
    cursor: pointer;
    border-radius: 1em;
    flow: horizontal;
}
player btn:hover {
    /* background-color: rgba(255,255,255, 0.5); */
    background-color: color(playerHBG);
}
#tapePlay {
    width: 4.25em;
}
#tapePlay span { height: 1dip; }
#tape {
    display: none;
}
#tracker {
    width: 20em;
    height: 0.3em;
    /* background: #f0f1fd; */
    background: color(itemBG);
    /* aspect: DrawProgress; */
    /* background-color: rgba(255,255,255, 0.5); */
}
#tracker > .slider {
    /* border-left-color: lightcoral; */
    background-color: color(playerK);
    border-radius: 2dip;
    height: 16dip;
    width: 9dip;
    border: 0;
    transition: width linear 50ms;
}
#tracker:hover > .slider {
    width: 5dip;
}
#tracker:hover > button::after {
    content: parent-attr(time);
    font-weight: bold;
    width: 4em;
    font-family: Consolas;
    display: block;
    background: #fff;
    box-shadow: 0px 1px 1px #d1e6f8;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: -3em;
    /* margin-left: -2.33em; */
    margin-left: -2.5em;
}
#tracker::before {
    /* content: ''; */
    /* background: #f0f1fd; */
    left: 0;
    width: 2em;
    height: 0.3em;
}
#time { width: 7em; }

queue {
    display: block;
    height: 4em;
    min-height: 4em;
    transition: height linear 100ms 0.3s;
    overflow: none;
    vertical-align: bottom;
    flow: vertical;
    margin-bottom: 0.5em;
    width: *;
    /* size: *; */
    margin-right: 2.5em;
    background: color(playerHBG);
    border-radius: 4dip;
}
queue:hover {
    position: relative;
    height: min-content;
}
queue:hover item { display: block; }
queue item {
    /* overflow: hidden; */
    height: 3em;
    padding: 0.5em 1em;
    /* background: red;  */
    display: none;
}
queue item:hover {
    /* background-color: #f54c5d; */
    background-color: #000;
    color: #fff;
}
queue item:hover n { color: #fff; }
queue item:hover a { color: #eee; }
queue item:current { display: block; }
queue item:hover a { color: #ddd; font-rendering-mode: classic; }

#trayPopup {
    width: 150dip;
    border-radius: 4dip;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(50,50,93,0.7), 0 1px 3px rgba(0,0,0,0.4);
}
#trayPopup li {
    display: block;
    padding: 10dip;
    background: #fff;
    font-size: 15dip;
    font-weight: 500;
    color: #222;
}
#trayPopup li:hover {
    background: #ddd;
}
#trayPopup .header { font-weight: bold; font-size: 12dip; }
#trayPopup b {
    display: block;
    border-bottom: 1dip solid #aaa;
}
#trayPopup button {
    min-width: 4.5em;
}